body {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2em;
	background-color: rgb(255, 205, 41);
	font-size: 1em;
}

main, footer {
	background-color: rgb(82, 73, 80);
	font-size: 1em;
	margin: 0 auto;
	padding: 2em;
}

footer {
	text-align: center;
	padding: .5em 2em;
}

footer p {
	display: inline-block;
}

header {
	background-color: rgb(82, 73, 80);
	font-size: 1em;
	margin: 0 auto;
	padding: .5em 2em;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: plum;
	font-size: 2.5em;
	font-weight: 900;
}

h2, h3 {
	text-transform: uppercase;
	letter-spacing: .1em;
	color: purple;
	background-color: plum;
	font-size: 1.5em;
	font-weight: 700;
	padding: .5em 1em 0 .5em;
	margin-top: 0;
	margin-bottom: -.5em;
}

section {
	background-color: bisque;
	padding: 1em;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 2em;
	font-size: 1em;
}

a {
	color: rgb(201, 137, 201);
	text-decoration: none;
	font-weight: 600;
	margin-top:-150px;
	padding-top: 150px;
}

p {
	padding: 1em;
}

figure {
	margin: 0;
	padding: 0 1em;
	text-align: left;
}

figcaption {
	font-style: italic;
}

img {
	max-width: 100%;
}